:root {
  --background-color: #3e3f4e;
  --gradient: linear-gradient(
    244deg,
    #9b70c6 2%,
    #8bfbf5 49%,
    #a0faa6 71%,
    #f1fa94 100%
  );
}

body{
  height: 100vh;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.typing{
  font-family: monospace;
  background: var(--gradient);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  font-size: 4rem;
  position: relative;
}
.typing::after{
  content: "";
  position: absolute;
  height: 90%;
  width: 2px;
  background-color: #3e3f4e;
  color: black;
  padding: 1px;
  left: 100%;
  animation: blink 700ms infinite ease;
}
@keyframes blink {
  0% {
    opacity: 0;
    background-color: #9b70c6;
  }
  50% {
    opacity: 1;
      background-color: #8bfbf5;
  }
  100% {
    opacity: 0;
      background-color: #9b70c6;
  }
}